<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4>User editing</h4>
    <br>
    <table>
        <form th:object="${user}" th:action="@{/save_user_own}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{bot}"/>
            <input type="hidden" th:field="*{lastRoomId}"/>
            <input type="hidden" th:field="*{lastActivity}"/>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Username</td>
                <td><input type="text" th:field="*{userName}" maxlength="50"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Password</td>
                <td><input type="password" th:field="*{newPassword}" maxlength="36"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">On</td>
                <td><input type="checkbox" th:field="*{enabled}"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">First name</td>
                <td><input type="text" th:field="*{firstName}" maxlength="100"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Last name</td>
                <td><input type="text" th:field="*{lastName}" maxlength="100"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>