<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <div th:if="${newRoom}">
        <h4>New room</h4>
    </div>
    <div th:unless="${newRoom}">
        <h4>Room editing</h4>
    </div>
    <br>
    <table>
        <form th:object="${room}" th:action="@{/save_room}" method="post">
            <div th:if="${newRoom}">
                <input type="hidden" id="id" name="id"/>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Name</td>
                    <td><input type="text" id="name" name="name" placeholder="Name of room" maxlength="50"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Owner</td>
                    <td><select th:field="*{owner.id}">
                        <option value="">-- Select owner --</option>
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.userName}">
                        </option>
                    </select></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Private</td>
                    <td><input type="checkbox" id="confidential" name="confidential" th:checked="true"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Сlosed</td>
                    <td><input type="checkbox" id="closed" name="closed" th:checked="false"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5"></td>
                    <td><input type="submit" class="btn btn-primary" value="Save"/></td>
                </tr>
            </div>
            <div th:unless="${newRoom}" class="form-group">
                <input type="hidden" th:field="*{id}"/>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Name</td>
                    <td><input type="text" th:field="*{name}" maxlength="50"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Owner</td>
                    <!--                <td><select name="owner" id="owner">-->
                    <td><select th:field="*{owner.id}">
                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.userName}">
                            <!--                            th:selected="${user.id.equals(room.owner.id)}"-->
                        </option>
                    </select></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Private</td>
                    <td><input type="checkbox" th:field="*{confidential}"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Сlosed</td>
                    <td><input type="checkbox" th:field="*{closed}"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5"></td>
                    <td><input type="submit" class="btn btn-primary" value="Save"/></td>
                </tr>
            </div>
        </form>
    </table>
</div>
</body>
</html>