<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div th:if="${newMessage}">
    <h3>New message</h3>
</div>
<div th:unless="${newMessage}">
    <h3>Message editing</h3>
</div>
<div class="container">
    <form th:object="${message}" th:action="@{/save_message}" name="edit_form"
          id="edit_form" method="post" message="form">
        <div th:if="${newMessage}" class="form-group">
            <input type="hidden" id="id" name="id"/>
            <label for="room">Room</label>
            <select name="room" id="room">
                <option value="">-- Select room --</option>
                <option th:each="room : ${rooms}"
                        th:value="${room.id}"
                        th:text="${room.name}">
                </option>
            </select>
            <label for="author">Author</label>
            <select name="author" id="author">
                <option th:each="author : ${users}"
                        th:value="${author.id}"
                        th:selected="${author.id.equals(currentUserId)}"
                        th:text="${author.userName}">
                </option>
            </select>
            <label for="text">Text</label>
            <textarea id="text" name="text" placeholder="Text of message" maxlength="255"></textarea>
        </div>
        <div th:unless="${newMessage}" class="form-group">
            <input type="hidden" th:field="*{id}"/>
            <label for="date">Date</label>
            <input type="datetime-local" th:field="*{date}" readonly/>
            <label for="room">Room</label>
            <select name="room" id="room">
                <option th:each="room : ${rooms}"
                        th:value="${room.id}"
                        th:selected="${room.id.equals(message.room.id)}"
                        th:text="${room.name}">
                </option>
            </select>
            <label for="author">Author</label>
            <select name="author" id="author">
                <option th:each="author : ${users}"
                        th:value="${author.id}"
                        th:selected="${author.id.equals(message.author.id)}"
                        th:text="${author.userName}">
                </option>
            </select>
            <label for="text">Text</label>
            <textarea th:field="*{text}" maxlength="255"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>