<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4>Room editing</h4>
    <br>
    <table>
        <form th:object="${room}" th:action="@{/save_room}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Name</td>
                <td><input type="text" th:field="*{name}" maxlength="50"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Owner</td>
                <td><select th:field="*{owner.id}">
                    <option th:if="${newRoom}" value="">-- Select owner --</option>
                    <option th:each="selectUser : ${users}"
                            th:value="${selectUser.id}"
                            th:text="${selectUser.userName}">
                    </option>
                </select></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Private</td>
                <td><input type="checkbox" th:field="*{confidential}"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Сlosed</td>
                <td><input type="checkbox" th:field="*{closed}"/></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>