<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4>Message editing</h4>
    <br>
    <form th:object="${message}" th:action="@{/save_message}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{date}"/>
        <table>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Author</td>
                <td><select th:field="*{author.id}">
                    <option th:each="selectUser : ${users}"
                            th:value="${selectUser.id}"
                            th:text="${selectUser.userName}">
                    </option>
                </select></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Room</td>
                <td><select th:field="*{room.id}">
                    <option th:if="${newMessage}" value="*{null}">-- Select room --</option>
                    <option th:each="selectRoom : ${rooms}"
                            th:value="${selectRoom.id}"
                            th:text="${selectRoom.name}">
                    </option>
                </select></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Text</td>
                <td><textarea th:field="*{text}" maxlength="255"></textarea></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>