<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4>Rooms and messages management</h4>
    <h5 th:if="${userInfo != null}" th:utext="${userInfo}"></h5>

    <br>
    <div class="text-center"><h5>Rooms</h5></div>
    <table class="table table-sm table-bordered" style="word-break:break-word">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-4">Name (members)</th>
            <th class="col-lg-4">Owner</th>
            <th class="col-lg-1">Private</th>
            <th class="col-lg-1">Closed</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="room : ${rooms}">
            <td th:hidden="${room.id}"></td>
            <td class="col-lg-4" style="background:Khaki"
                th:text="${room.name+' ('+room.numberInterlocutors+')'}"></td>
            <td class="col-lg-4" style="background:Khaki"
                th:text="${room.owner.userName+' ('+room.owner.firstName+' '+
                #strings.defaultString(room.owner.lastName,'')+')'}"></td>
            <td class="col-lg-1 text-center" style="background:Khaki">
                <div th:if="${room.confidential}" class="fa fa-check" style="font-size:20px"></div>
            </td>
            <td class="col-lg-1 text-center" style="background:Khaki">
                <div th:if="${room.closed}" class="fa fa-check" style="font-size:20px"></div>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_room/{id}'(id=${room.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_room/{id}'(id=${room.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
        <tr class="d-flex">
            <td class="col-lg-2" style="background-color:#E1E1E4">
                <form th:action="@{/new_room}">
                    <button type="submit" class="btn btn-primary">Add room</button>
                </form>
            </td>
            <td class="col-lg-10 text-center" style="background-color:#E1E1E4">
                <div th:if="${rTotalPages > 0}" class="pagination" style="display:inline-block"
                     th:each="rNumber : ${rPageNumbers}">
                    <a th:href="@{'/moderator?rSize={rSize}&rPage={rPage}&mSize={mSize}&mPage={mPage}'
                    (rSize=${rPageSize},rPage=${rNumber},mSize=${mPageSize},mPage=${mCurrentPage})}"
                       th:text="${rNumber}"
                       th:style="${rNumber==rCurrentPage}?'font-weight:bold'"></a>
                </div>
            </td>
        </tr>
    </table>

    <br>
    <div class="text-center"><h5>Messages</h5></div>
    <table class="table table-sm table-bordered" style="word-break:break-word">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-1">Date</th>
            <th class="col-lg-2">Room</th>
            <th class="col-lg-2">Author</th>
            <th class="col-lg-5">Text</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="message : ${messages}">
            <td th:hidden="${message.id}"></td>
            <td class="col-lg-1" style="background:Khaki"
                th:text="${#temporals.format(message.date,'dd.MM.yyyy HH:mm')}"></td>
            <td class="col-lg-2" style="background:Khaki" th:text="${message.room.name}"></td>
            <td class="col-lg-2" style="background:Khaki"
                th:text="${message.author.userName+' ('+message.author.firstName+' '+
                #strings.defaultString(message.author.lastName,'')+')'}"></td>
            <td class="col-lg-5" style="background:Khaki" th:text="${message.text}"></td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_message/{id}'(id=${message.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_message/{id}'(id=${message.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
        <tr class="d-flex">
            <td class="col-lg-2" style="background-color:#E1E1E4">
                <form th:action="@{/new_message}">
                    <button type="submit" class="btn btn-primary">Add message</button>
                </form>
            </td>
            <td class="col-lg-10 text-center" style="background-color:#E1E1E4">
                <div th:if="${mTotalPages > 0}" class="pagination" style="display:inline-block"
                     th:each="mNumber : ${mPageNumbers}">
                    <a th:href="@{'/moderator?rSize={rSize}&rPage={rPage}&mSize={mSize}&mPage={mPage}'
                    (rSize=${rPageSize},rPage=${rCurrentPage},mSize=${mPageSize},mPage=${mNumber})}"
                       th:text="${mNumber}"
                       th:style="${mNumber==mCurrentPage}?'font-weight:bold'"></a>
                </div>
            </td>
        </tr>
    </table>

    <br>
    <div class="text-center"><h5>Interlocutors in rooms</h5></div>
    <table class="table table-sm table-bordered" style="word-break:break-word">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-5">Room</th>
            <th class="col-lg-5">Interlocutor</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="interlocutor : ${interlocutors}">
            <td th:hidden="${interlocutor.id}"></td>
            <td class="col-lg-5" style="background:Khaki"
                th:text="${interlocutor.room.name}">
            </td>
            <td class="col-lg-5" style="background:Khaki"
                th:text="${interlocutor.user.userName+' ('+interlocutor.user.firstName+' '+
                #strings.defaultString(interlocutor.user.lastName,'')+')'}"></td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_interlocutor/{id}'(id=${interlocutor.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_interlocutor/{id}'(id=${interlocutor.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
        <tr class="d-flex">
            <td class="col-lg-12" style="background-color:#E1E1E4">
                <form th:action="@{/new_interlocutor}">
                    <button type="submit" class="btn btn-primary">Add link</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>
