<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head style="height: 100vh" th:replace="_head :: head"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
    var stompClient = null;
    connect();

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/[[${currentRoomId}]]', function (greeting) {
                isOurRequirement(greeting.body);
            });
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function isOurRequirement(newMessageAuthorId) {
        if (newMessageAuthorId !== '[[${currentRoomId}]]') {
            location.reload();
        }
    }
</script>
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <!--    <div class="text-center"><h3><span th:utext="${message}"></h3></div>-->

    <table class="table table-sm table-bordered" style="word-break:break-word">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-2">Rooms</th>
            <th class="col-lg-8" th:text="${roomName}"></th>
            <th class="col-lg-2">Users</th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex">
            <td class="col-lg-2">
                <table class="table table-sm" style="word-break:break-word">
                    <colgroup>
                        <col span="3" style="background:Pink">
                    </colgroup>
                    <tbody>
                    <tr th:each="room : ${rooms}">
                        <td>
                            <img th:if="${!#strings.isEmpty(room.unreadMessages)}"
                                 th:src="${'https://ui-avatars.com/api/?size=24&font-size=0.6&rounded=true&name='+
                                 room.unreadMessages}">
                            <a th:href="@{'/room/{id}'(id=${room.id})}"
                               th:text="${room.name+' ('+room.numberInterlocutors+')'}">
                            </a>
                        </td>
                        <div th:if="${room.confidential}">
                            <td style="text-align: center">
                                <div th:if="${room.owner.id!=currentUser.id}" class="fa fa-lock"
                                     style="font-size: 15px"></div>
                                <div th:if="${room.owner.id==currentUser.id}">
                                    <a th:href="@{'/lock_unlock_room/{id}'(id=${room.id})}">
                                        <i class="fa fa-lock" style="font-size: 15px"></i></a>
                                </div>
                            </td>
                        </div>
                        <div th:if="${!room.confidential}">
                            <td style="text-align: center">
                                <div th:if="${room.owner.id!=currentUser.id}" class="fa fa-unlock"
                                     style="font-size: 15px"></div>
                                <div th:if="${room.owner.id==currentUser.id}">
                                    <a th:href="@{'/lock_unlock_room/{id}'(id=${room.id})}">
                                        <i class="fa fa-unlock" style="font-size: 15px"></i></a>
                                </div>
                            </td>
                        </div>
                        <td style="text-align: center">
                            <div th:if="${room.owner.id!=currentUser.id}" class="fa fa-list-ol"
                                 style="font-size: 15px"></div>
                            <div th:if="${room.owner.id==currentUser.id}">
                                <a th:href="@{'/edit_list_room/{id}'(id=${room.id})}">
                                    <i class="fa fa-list-ol" style="font-size: 15px"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="col-lg-8">
                <table class="table table-sm" style="word-break:break-word">
                    <colgroup>
                        <col span="2" style="background:Moccasin">
                    </colgroup>
                    <tbody>
                    <tr class="d-flex" th:each="message : ${messages}">
                        <td class="col-lg-3">
                            <img th:src="${'https://ui-avatars.com/api/?size=32&font-size=0.55&rounded=true&name='+
                            #strings.substring(message.author.firstName,0,1)+
                            #strings.substring(#strings.defaultString(message.author.lastName,' '),0,1)}"
                                 th:text="${' '+message.author.firstName+' '+
                                 #strings.defaultString(message.author.lastName,'')+' '+
                                 #temporals.format(message.date,'dd.MM.yyyy HH:mm')}">
                        </td>
                        <td class="col-lg-9" th:text="${message.text}"></td>
                    </tr>
                    </tbody>
                    <tr class="d-flex">
                        <td class="col-lg-12 text-center" style="background-color:#E1E1E4">
                            <div th:if="${mTotalPages > 0}" class="pagination" style="display:inline-block"
                                 th:each="mNumber : ${mPageNumbers}">
                                <a th:href="@{'/room/{id}?mSize={mSize}&mPage={mPage}&uSize={uSize}&uPage={uPage}'
                                (id=${currentRoomId},mSize=${mPageSize},mPage=${mNumber},
                                uSize=${uPageSize},uPage=${uCurrentPage})}"
                                   th:text="${mNumber}"
                                   th:style="${mNumber==mCurrentPage}?'font-weight:bold'"></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <form th:if="${isUserInRoom}" style="text-align: justify" th:object="${newMessage}"
                              th:action="@{/send_message}" method="post">
                            <input type="hidden" id="id" name="id"/>
                            <input type="hidden" th:field="*{author}"/>
                            <input type="hidden" th:field="*{room}"/>
                            <td class="col-lg-10" style="background-color:#E1E1E4">
                            <textarea class="form-control" id="text" name="text" placeholder="Text of new message"
                                      maxlength="255"></textarea>
                            </td>
                            <td class="col-lg-2" style="background-color:#E1E1E4">
                                <button type="submit" class="btn btn-primary">Send a message</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </td>
            <td class="col-lg-2">
                <table class="table table-sm" style="word-break:break-word">
                    <colgroup>
                        <col span="1" style="background:Pink">
                    </colgroup>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            <img th:src="${'https://ui-avatars.com/api/?size=32&font-size=0.55&rounded=true&name='+
                            #strings.substring(user.firstName,0,1)+
                            #strings.substring(#strings.defaultString(user.lastName,' '),0,1)}">
                            <div th:if="${user.bot}" class="fa fa-android" style="font-size: 15px"></div>
                            <a th:href="@{'/teteatete_room/{id}'(id=${user.id})}"
                               th:text="${user.firstName+' '+#strings.defaultString(user.lastName,'')}"></a>
                        </td>
                    </tr>
                    </tbody>
                    <tr class="d-flex">
                        <td class="col-lg-12 text-center" style="background-color:#E1E1E4">
                            <div th:if="${uTotalPages > 0}" class="pagination" style="display:inline-block"
                                 th:each="uNumber : ${uPageNumbers}">
                                <a th:href="@{'/room/{id}?mSize={mSize}&mPage={mPage}&uSize={uSize}&uPage={uPage}'
                                (id=${currentRoomId},mSize=${mPageSize},mPage=${mCurrentPage},
                                uSize=${uPageSize},uPage=${uNumber})}"
                                   th:text="${uNumber}"
                                   th:style="${uNumber==uCurrentPage}?'font-weight:bold'"></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
