<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div th:if="${newUser}">
    <h3>New user</h3>
</div>
<div th:unless="${newUser}">
    <h3>User editing</h3>
</div>
<div class="container">
    <form class="form-horizontal" th:object="${user}" th:action="@{/save_user}" name="edit_form"
          id="edit_form" method="post" role="form">
        <div th:if="${newUser}" class="form-group">
            <input type="hidden" id="id" name="id"/>
            <label for="userName">Username</label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="Nickname of user" maxlength="50"/>
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="36"/>
            <label for="enabled">On</label>
            <input type="checkbox" class="form-control" id="enabled" name="enabled" th:checked="true"/>
            <label for="bot">Bot</label>
            <input type="checkbox" class="form-control" id="bot" name="bot" th:checked="false"/>
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name of user" maxlength="100"/>
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name of user" maxlength="100"/>
        </div>
        <div th:unless="${newUser}" class="form-group">
            <input type="hidden" id="id" name="id" th:field="*{id}"/>
            <label for="userName">Username</label>
            <input type="text" class="form-control" id="userName" name="userName" th:value="*{getUserName}" maxlength="100"/>
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" th:value="8a38aeb0-0caa-49be-8f8b-f64b6ae2ce1e" maxlength="36"/>
            <input type="hidden" id="encryptedPassword" name="encryptedPassword" th:field="*{encryptedPassword}"/>
            <label for="enabled">On</label>
            <input type="checkbox" class="form-control" id="enabled" name="enabled" th:checked="*{enabled}"/>
            <label for="bot">Bot</label>
            <input type="checkbox" class="form-control" id="bot" name="bot" th:checked="*{bot}"/>
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" th:value="*{firstName}" maxlength="100"/>
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" th:value="*{lastName}" maxlength="100"/>
            <input type="hidden" id="lastActivity" name="lastActivity" th:field="*{lastActivity}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>