<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4 th:text="${'Add role for user &#34;'+newUserRole.user.userName+'&#34;'}"></h4>
    <br>
    <table>
        <form th:object="${newUserRole}" th:action="@{/save_userrole}" method="post">
            <input type="hidden" th:field="*{user.id}"/>
            <tr class="d-flex">
                <td class="col-lg-5 text-right">Role</td>
                <td><select th:field="*{role.id}">
                    <option th:value="${null}">-- Select role --</option>
                    <option th:each="selectRole : ${roles}"
                            th:value="${selectRole.id}"
                            th:text="${selectRole.name}">
                    </option>
                </select></td>
            </tr>
            <tr class="d-flex">
                <td class="col-lg-5"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>