<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h4>Users and roles management</h4>
<h5 th:if="${userInfo != null}" th:utext="${userInfo}"></h5>

<br>
<div class="container-fluid">
    <div class="text-center"><h5>Users</h5></div>
    <table class="table table-sm table-bordered">
        <colgroup>
            <col span="7" style="background:Khaki">
            <col span="2" style="background-color:LightCyan">
        </colgroup>
        <thead class="thead-light text-center">
        <tr>
            <th>Username</th>
            <th class="col-1">On</th>
            <th class="col-1">Bot</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Last room</th>
            <th>Last activity</th>
            <th class="col-1"></th>
            <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}"></td>
            <td style="text-align: center">
                <div th:if="${user.enabled}" class="fa fa-check"
                     style="font-size:20px"></div>
            </td>
            <td style="text-align: center">
                <div th:if="${user.bot}" class="fa fa-check"
                     style="font-size:20px"></div>
            </td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.lastRoom.name}"></td>
            <td th:text="${#dates.format(user.lastActivity,'dd.MM.yyyy HH:mm')}"></td>
            <td style="text-align: center"><a th:href="@{'/edit_user/{id}'(id=${user.id})}"><i class="fa fa-edit"
                                                                                               style="font-size:20px"></i></a>
            </td>
            <td style="text-align: center"><a th:href="@{'/delete_user/{id}'(id=${user.id})}"><i class="fa fa-trash"
                                                                                                 style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_user}">
        <button type="submit" class="btn btn-primary">Add user</button>
    </form>
</div>

<br>
<div class="container-fluid">
    <div class="text-center"><h5>Roles</h5></div>
    <table class="table table-sm table-bordered">
        <colgroup>
            <col span="1" style="background:Khaki">
            <col span="2" style="background-color:LightCyan">
        </colgroup>
        <thead class="thead-light text-center">
        <tr>
            <th>Role name</th>
            <th class="col-1"></th>
            <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:hidden="${role.id}">roleId</td>
            <td th:text="${role.name}">roleName</td>
            <td style="text-align: center"><a th:href="@{'/edit_role/{id}'(id=${role.id})}"><i class="fa fa-edit"
                                                                                               style="font-size:20px"></i></a>
            </td>
            <td style="text-align: center"><a th:href="@{'/delete_role/{id}'(id=${role.id})}"><i class="fa fa-trash"
                                                                                                 style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_role}">
        <button type="submit" class="btn btn-primary">Add role</button>
    </form>
</div>

<br>
<div class="container-fluid">
    <div class="text-center"><h5>Users and their roles</h5></div>
    <table class="table table-sm table-bordered">
        <colgroup>
            <col span="2" style="background:Khaki">
            <col span="2" style="background-color:LightCyan">
        </colgroup>
        <thead class="thead-light text-center">
        <tr>
            <th>User</th>
            <th>His role</th>
            <th class="col-1"></th>
            <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userRole : ${usersRoles}">
            <td th:hidden="${userRole.id}">id</td>
            <td th:text="${userRole.user.userName}">User</td>
            <td th:text="${userRole.role.name}">Role</td>
            <td class="text-center"><a th:href="@{'/edit_userrole/{id}'(id=${userRole.id})}"><i
                    class="fa fa-edit"
                    style="font-size:20px"></i></a>
            </td>
            <td class="text-center"><a th:href="@{'/delete_userrole/{id}'(id=${userRole.id})}"><i
                    class="fa fa-trash"
                    style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_userrole}">
        <button type="submit" class="btn btn-primary">Add link</button>
    </form>
</div>

</body>
</html>
