<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<div class="container-fluid">
    <th:block th:include="/_menu"></th:block>
    <h4>Users and roles management</h4>
    <h5 th:if="${userInfo != null}" th:utext="${userInfo}"></h5>

    <br>
    <div class="text-center"><h5>Users</h5></div>
    <table class="table table-sm table-bordered">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-1">Username</th>
            <th class="col-lg-1">On</th>
            <th class="col-lg-1">Bot</th>
            <th class="col-lg-2">First name</th>
            <th class="col-lg-2">Last name</th>
            <th class="col-lg-2">Last room</th>
            <th class="col-lg-1">Last activity</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="user : ${users}">
            <td th:hidden="${user.id}"></td>
            <td class="col-lg-1" style="background:Khaki" th:text="${user.userName}"></td>
            <td class="col-lg-1 text-center" style="background:Khaki">
                <div th:if="${user.enabled}" class="fa fa-check" style="font-size:20px"></div>
            </td>
            <td class="col-lg-1 text-center" style="background:Khaki">
                <div th:if="${user.bot}" class="fa fa-check" style="font-size:20px"></div>
            </td>
            <td class="col-lg-2" style="background:Khaki" th:text="${user.firstName}"></td>
            <td class="col-lg-2" style="background:Khaki" th:text="${user.lastName}"></td>
            <td class="col-lg-2" style="background:Khaki" th:if="${#strings.isEmpty(user.lastRoom)}"></td>
            <td class="col-lg-2" style="background:Khaki" th:if="${!#strings.isEmpty(user.lastRoom)}"
                th:text="${user.lastRoom.name}"></td>
            <td class="col-lg-1" style="background:Khaki"
                th:text="${#temporals.format(user.lastActivity,'dd.MM.yyyy HH:mm')}"></td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_user_admin/{id}'(id=${user.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_user/{id}'(id=${user.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_user_admin}">
        <button type="submit" class="btn btn-primary">Add user</button>
    </form>

    <br>
    <div class="text-center"><h5>Roles</h5></div>
    <table class="table table-sm table-bordered">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-10">Role name</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="role : ${roles}">
            <td th:hidden="${role.id}"></td>
            <td class="col-lg-10" style="background:Khaki" th:text="${role.name}"></td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_role/{id}'(id=${role.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_role/{id}'(id=${role.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_role}">
        <button type="submit" class="btn btn-primary">Add role</button>
    </form>

    <br>
    <div class="text-center"><h5>Users and their roles</h5></div>
    <table class="table table-sm table-bordered">
        <thead class="thead-light text-center">
        <tr class="d-flex">
            <th class="col-lg-5">User</th>
            <th class="col-lg-5">His role</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="userRole : ${usersRoles}">
            <td th:hidden="${userRole.id}"></td>
            <td class="col-lg-5" style="background:Khaki" th:text="${userRole.user.userName}"></td>
            <td class="col-lg-5" style="background:Khaki" th:text="${userRole.role.name}"></td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/edit_userrole/{id}'(id=${userRole.id})}">
                    <i class="fa fa-edit" style="font-size:20px"></i></a>
            </td>
            <td class="col-lg-1 text-center" style="background-color:LightCyan">
                <a th:href="@{'/delete_userrole/{id}'(id=${userRole.id})}">
                    <i class="fa fa-trash" style="font-size:20px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/new_userrole}">
        <button type="submit" class="btn btn-primary">Add link</button>
    </form>

</div>
</body>
</html>
