<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div th:if="${newUserRole}">
    <h4>New user-role relationship</h4>
</div>
<div th:unless="${newUserRole}">
    <h4>Editing user-role relationships</h4>
</div>
<br>
<form th:object="${userRole}" th:action="@{/save_userrole}" method="post">
    <div th:if="${newUserRole}">
        <input type="hidden" id="id" name="id"/>
        <table>
            <tr>
                <td class="col-2 text-right">User</td>
                <td><select name="user" id="user">
                    <option value="">-- Select user --</option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.userName}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td class="col-2 text-right">Role</td>
                <td><select name="role" id="role">
                    <option value="">-- Select role --</option>
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td class="col-2"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </table>
    </div>
    <div th:unless="${newUserRole}" class="form-group">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td class="col-2 text-right">User</td>
                <td><select name="user" id="user">
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:selected="${user.id.equals(userRole.user.id)}"
                            th:text="${user.userName}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td class="col-2 text-right">Role</td>
                <td><select name="role" id="role">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:selected="${role.id.equals(userRole.role.id)}"
                            th:text="${role.name}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td class="col-2"></td>
                <td><input type="submit" class="btn btn-primary" value="Save"/></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>