<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <div th:if="${newUser}">
        <h4>New user</h4>
    </div>
    <div th:unless="${newUser}">
        <h4>User editing</h4>
    </div>
    <br>
    <table>
        <form th:object="${user}" th:action="@{/save_user_admin}" method="post">
            <div th:if="${newUser}">
                <input type="hidden" id="id" name="id"/>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Username</td>
                    <td><input type="text" id="userName" name="userName" placeholder="Nickname of user" maxlength="50"/>
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Password</td>
                    <td><input type="password" id="newPassword" name="newPassword" maxlength="36"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">On</td>
                    <td><input type="checkbox" id="enabled" name="enabled" th:checked="true"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Bot</td>
                    <td><input type="checkbox" id="bot" name="bot" th:checked="false"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">First name</td>
                    <td><input type="text" id="firstName" name="firstName" placeholder="First name of user"
                               maxlength="100"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Last name</td>
                    <td><input type="text" id="lastName" name="lastName" placeholder="Last name of user"
                               maxlength="100"/>
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5"></td>
                    <td><input type="submit" class="btn btn-primary" value="Save"/></td>
                </tr>
            </div>
            <div th:unless="${newUser}">
                <input type="hidden" th:field="*{id}"/>
<!--                <input type="hidden" th:field="*{encryptedPassword}"/>-->
                <input type="hidden" th:field="*{lastRoomId}"/>
                <input type="hidden" th:field="*{lastActivity}"/>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Username</td>
                    <td><input type="text" th:field="*{userName}" maxlength="50"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Password</td>
                    <td><input type="password" id="newPassword" name="newPassword"
                               th:value="8a38aeb0-0caa-49be-8f8b-f64b6ae2ce1e"
                               maxlength="36"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">On</td>
                    <td><input type="checkbox" th:field="*{enabled}"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Bot</td>
                    <td><input type="checkbox" th:field="*{bot}"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">First name</td>
                    <td><input type="text" th:field="*{firstName}" maxlength="100"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5 text-right">Last name</td>
                    <td><input type="text" th:field="*{lastName}" maxlength="100"/></td>
                </tr>
                <tr class="d-flex">
                    <td class="col-lg-5"></td>
                    <td><input type="submit" class="btn btn-primary" value="Save"/></td>
                </tr>
            </div>
        </form>
    </table>
</div>
</body>
</html>