<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h4>Role editing</h4>
    <br>
    <form th:object="${role}" th:action="@{/save_role}" method="post">
        <div th:unless="${newRole}">
            <input type="hidden" th:field="*{id}"/>
            <input type="text" th:field="*{name}" maxlength="100"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>